#centerText{
    text-align: center;
}

.btn
{
	background: transparent;
	color: black;
	font-weight: bold;
	border-color: transparent;
}

.btn:hover
{
	background: #28a7e9;
	border-color: transparent;
}