<div *ngIf="errorText" class="alert alert-danger">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11">
                <h4 class="align-middle">{{errorText}}</h4>
            </div>
            <div class="col-sm-1">
                <button type="button" class="close align-middle" aria-label="Close" (click)="closeErrorView()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>